@model Contact

@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <h1 class="text-center">Contact Us</h1>
    @using (Html.BeginForm(FormMethod.Post, new { @class = "col-md-8 mx-auto" }))
    {
        <div class="form-group">
            @Html.DisplayNameFor(contact => contact.Name)
            @Html.TextBoxFor(contact => Model.Name, new { @class = "form-control" })
            <p class="text-danger">@Html.ValidationMessageFor(contact => Model.Name)</p>
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(contact => contact.Email)
            @Html.TextBoxFor(contact => Model.Email, new { @class = "form-control" })
            <p class="text-danger">@Html.ValidationMessageFor(contact => Model.Email)</p>
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(contact => contact.Phone)
            @Html.TextBoxFor(contact => Model.Phone, new { @class = "form-control" })
            <p class="text-danger">@Html.ValidationMessageFor(contact => Model.Phone)</p>
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(contact => contact.Message)
            @Html.TextAreaFor(contact => Model.Message, new { @class = "form-control" })
            <p class="text-danger"> @Html.ValidationMessageFor(contact => Model.Message)</p>
        </div>
        <button class="btn btn-primary">Save</button>
    }
</div>

