@model Contact
@{
    ViewData["Title"] = "FormSubmission";
}

<section class="container">
    <div class="text-center">
        <h2>Form submitted successfully.</h2>
        <p>Below are your details : </p>
    </div>
    <table class="table table-bordered">
        <tr>
            <td>@Html.DisplayNameFor(x => x.Name)</td>
            <td>@Html.DisplayFor(x => Model.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.Email)</td>
            <td>@Html.DisplayFor(x => Model.Email)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.Phone)</td>
            <td>@Html.DisplayFor(x => Model.Phone)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.Message)</td>
            <td>@Html.DisplayFor(x => Model.Message)</td>
        </tr>
    </table>
    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-success" })
</section>