@model IEnumerable<MarkModel>

@{
    ViewData["Title"] = "Marks";
    int markCounter = 1;

}

<h1>MarkIndex</h1>

<p>
    <a asp-action="Creates">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                SN
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obtainedmark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @markCounter
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obtainedmark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
          
            <td>
                @Html.ActionLink("Edits", "Edits", new { markId = item.MarkId }) |
                @Html.ActionLink("Marks_Details", "Marks_Details", new { markId = item.MarkId }) |
                @Html.ActionLink("Deletes", "Deletes", new { markId = item.MarkId  })
            </td>
        </tr>
    markCounter++;

}
    </tbody>
</table>
